.button {
  font-family: var(--font-jakarta);
  padding: 8px 12px;
  color: black;
  font-size: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}
