.container {
  display: flex;
  justify-content: space-between;
  padding: 16px 48px;
  width: 100%;
  align-items: center;
}

.main {
  background-color: var(--color-bgBlack);
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.logoBackground {
  background-color: #21ca91;
  box-shadow: 0 0 12px -3px hsl(160deg 72% 46% / 20% / 0.2);
  padding: 6px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoFont {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.logoFont1 {
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
}

.logoFont2 {
  color: #21ca91;
  letter-spacing: 0.2rem;
  line-height: 1.25;
  font-size: 10px;
  font-weight: 600;
  font-family: sans-serif;
}

.redirects {
  display: flex;
  gap: 18px;
  align-items: center;
}

.buttons {
  color: #e3e8e8;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25rem;
  font-family: var(--font-jakarta);
  padding: 8px 16px;
}

.buttons:hover {
  background-color: #1c212c;
  border: 1px solid #2e3647;
  border-radius: 12px;
  cursor: pointer;
}

.actions {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

/* .actionButton1 {
  font-family: var(--font-jakarta);
  padding: 8px 12px;
  background-color: #21ca91;
  color: black;
  font-size: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.actionButton2 {
  font-family: var(--font-jakarta);
  padding: 8px 12px;
  border: 1px solid #2e3647;
  color: #e3e8e8;
  font-size: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
} */
